@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.woff2') format(woff2);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.woff') format(woff);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Heavy.woff2') format(woff2);
        font-weight: 900;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Heavy.woff') format(woff);
        font-weight: 900;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url('../fonts/Ubuntu-Regular.woff2') format(woff2);
        font-weight: 900;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url('../fonts/Ubuntu-Regular.woff') format(woff);
        font-weight: 900;
        font-style: normal;
        font-display: swap;
}