.header{
    position: relative;
}
.header::before{
    position: absolute;
    content: '';
    width: 30rem;
    height: 30rem;
    background: url('../images/icon-position/header-1.png') no-repeat;
    bottom: 0;
    left: 0;
}
.header::after{
    position: absolute;
    content: '';
    width: 15rem;
    height: 30rem;
    background: url('../images/icon-position/header-2.png') no-repeat;
    top: 0;
    right: 0;
}
.header__phone {
    width: 22rem;
    margin-left: auto;
    transform: translateY(2.5rem);
}
.header__phone-link {
    font-size: 2.5rem;
    font-weight: 900;
}
.header__inner {
    position: relative;
    display: flex;
    align-items: end;
}
.header__inner::before{
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
    background: url('../images/icon-position/header-4.png') no-repeat;
    left: -20rem;
    top: 2rem;
}
.header__inner::after{
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
    background: url('../images/icon-position/header-3.png') no-repeat;
    right: -20rem;
    top: 30rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__img {
    width: 5rem;
    height: 6rem;
}
.logo__text {
    margin-left: 1rem;
    width: 10rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
}
.menu-active{
    color: #3ca7db;
}
.menu__list {
    display: flex;
    margin-left: 10rem;
}
.menu__list li{
    margin-left: 3.4rem;
    font-size: 1.6rem;
    transition: all .3s ease-in;
}
.menu__list li:hover{
    color: #3ca7db;
    transition: all .3s ease-in;
}
.header__block {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.header__content-text{
    position: relative;
}
.header__content-text::before,
.header__content-text::after{
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
}
.header__content-text::before{
    background: url('../images/icon-position/header-3.png');
    top: 0rem;
    left: -20rem;
}
.header__content {
    max-width: 64rem;
}
.header__content-title {
    width: 45rem;
    margin-bottom: 4rem;
    font-size: 6rem;
    font-weight: 900;
}
.header__img{
    position: relative;
}
.header__img::after{
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
    background: url('../images/icon-position/header-4.png') no-repeat;
    right: -10rem;
    bottom: 10rem;
}
.header__content-text {
    width: 37rem;
    margin-bottom: 6rem;
    font-size: 2.2rem;
    color: #424344;
}
.header__content-date {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #424344;
}
.header__content-phone {
    display: block;
    margin-bottom: 5rem;
    font-size: 3.6rem;
    font-weight: 900;
}
.header__form {
    display: flex;
}
.header__form-input,
.header__form-btn{
    width: 30rem;
    height: 8rem;
    border-radius: 5rem;
}

.header__form-input {
    padding-left: 2rem;
    padding-right: 3rem;
    border: 1px solid #424344;
    background-color: #fff;
}
.header__form-input::placeholder{
    color: #424344;
}


  
.header__form-btn {
    margin-left: 2rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    transition: all .5s ease-in;
    background-color: rgb(243, 57, 58);
    -webkit-box-shadow: 5px 13px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 13px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 13px 8px 0px rgba(34, 60, 80, 0.2);
}
.header__form-btn:hover{
    background-color: #3ca7db;
    transition: all .3s ease-in;
}

//FOOTER
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer__contact {
    display: flex;
    align-items: center;
}
.footer__contact-text {
    font-size: 1.4rem;
}
.footer__contact-phone {
    margin-left: 2rem;
    font-weight: 900;
}